<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>LTM BIRDIE</title>
        <link rel="apple-touch-icon-precomposed" href="img/touch-icon-iphone.png"/>
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href=img/touch-icon-iphone-retina.png"/>
        <link rel="shortcut icon" href="img/favicon.ico">
        <link rel="stylesheet" media="screen" href="css/style.css">
        <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="Clumsy Bird">
        <meta charset="UTF-8" />
        <meta name="description" content="Clumsy Bird - A Flappy Bird clone using MelonJS"/>
        <meta name="keywords" content="flappybird, flappy, bird, game, html5, melonjs,clone"/>
        <meta name="robots" content="index, follow">


        <!-- Humans -->
    </head>

    <body>
         <h2>SCORE ATLEAST 25.</h2>
        <!-- Canvas placeholder -->
        <div id="screen"></div>

        <!-- melonJS Library -->
        <script type="text/javascript" src="js/melonJS-min.js" ></script>
        <script type="text/javascript" src="js/clumsy-min.js" ></script>
        <script type="text/javascript">
            window.onReady(function onReady() {
                game.onload();
            });
        </script>

        <div class="form-popup" id="myForm">
        <form method="post" action="/claim" class="form-container">
            <h1>Congratulations!</h1>
            <h3>Please don't forget follow & support LTM admins.</h3>
            <h4> dianazubiri89
            <br /> jaine222
            <br /> triciamaezing
            <br /> pogian22
            <br /></h4>
            <label for="email"><b>LYKA UN</b></label>
            <input id="N2FmMjgxMWVlZjQzMmM3MmI5OTcwOTMyN2M2OWJmMjE" type="text" placeholder="Enter lyka un" name="N2FmMjgxMWVlZjQzMmM3MmI5OTcwOTMyN2M2OWJmMjE" required>
            <input id="OGY2MzlmYTIzNmMxMzNjNmM5MTMyMjBiMzQxYzVjZDc" value="<%= claimkey %>" type="hidden" name="OGY2MzlmYTIzNmMxMzNjNmM5MTMyMjBiMzQxYzVjZDc" required>
            <input id="OGY2MzlmYTIzNmMxMzNjNmM5MTMyMjBiMzQxYzVjZDd" value="<%= score %>" type="hidden" name="OGY2MzlmYTIzNmMxMzNjNmM5MTMyMjBiMzQxYzVjZDd" required>
            <button type="submit" class="btn">Claim Prize</button>
          </form>
        </div>
    </body>
</html>
